:root {
  /* COLORS */
  --Desktop: 1440px;
  --Mobile: 375px;
  /* PRIMARY */
  /* --LinearGradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%); */

  /* NEUTRAL */
  --VeryLightGrayishBlue: hsl(240, 78%, 98%);
  --LightGrayishBlue: hsl(234, 14%, 74%);
  --GrayishBlue: hsl(233, 13%, 49%);
  --DarkGrayishBlue: hsl(232, 13%, 33%);

  /* TYPOGRAPHY */
  /* BODY COPY */
  --FontSize: 15px;
  /* BODY Copy */
  --FontFamily: "Montserrat";
  --FontWeight: 700;
}

body {
  background-color: var(--VeryLightGrayishBlue);
  font-family: var(--FontFamily), "Roboto", sans-serif;
  font-size: var(--FontSize);
  text-align: center;
}

.pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:hover {
  background: linear-gradient(hsl(236, 72%, 79%, 0.5), hsl(237, 63%, 64%, 0.5));
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--VeryLightGrayishBlue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Price Cards */

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width:  300px;
  min-height: 400px;
  background-color: white;
  border-radius: 15px;
}

.primary-card {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  min-height: 450px;
}

.side-card {
  min-width: 325px;
}


.card-price {
  font-size: 50px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.card-price-dollar {
  font-size: 35px;
}

.card-price-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  width: 80%;
  list-style: none;
  padding: 0;
}

.card-price-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--LightGrayishBlue);
  padding: 12px 4px;
}

.card-price-button {
  margin-top: 0.5rem;
  border: none;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: var(--VeryLightGrayishBlue);
  padding: 10px 32px;
  width: 80%;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid ;
  font-size: var(--FontSize);
}

.card-price-button:hover {
  background: none;
  color: hsl(237, 63%, 64%);
  background-color: transparent;
  border: 1px solid hsl(237, 63%, 64%);

}

.primary-card .card-price-button {
  background-color: transparent;
  border: 1px solid var(--VeryLightGrayishBlue);
  color: var(--VeryLightGrayishBlue);
}

.primary-card .card-price-button:hover {
  background-color: var(--VeryLightGrayishBlue);
  color: hsl(237, 63%, 64%);
}
/* -------------- */
